@model GlazbeniTrg.Models.ViewModels.PersonViewModel


<form asp-action="Create" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h2>
        Nova osoba
    </h2>
    <div class="form-group">
        <label asp-for="FirstName">Ime </label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Prezime </label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Bio">Opis</label>
        <textarea asp-for="Bio" class="form-control"></textarea>
    </div>


    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>
</form>